
@inherits LayoutComponentBase

<PageTitle>FeedbackRegister</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="mainLayoutClass">
        @*<div class="top-row px-4">
            <a href="https://244-rn-ts.atlassian.net/jira/software/c/projects/SOFTPRE/boards/33?quickFilter=111" target="_blank">About</a>
        </div>*@
        <div class="paddingPage">
        <article class="content px-4">
            @Body
        </article>
        </div>
    </main>
</div>