@page "/LookupPage"

<h3>Справочники</h3><br />
<button class='btn btn-outline-primary' style="padding:20px">Сотрудники заказчика</button><br />
<button class='btn btn-outline-primary' style="padding:20px">Сотрудники ГКИ</button><br />
<button class='btn btn-outline-primary' style="padding:20px">Компании заказчика</button><br />
@code {

}
